@font-face {
    font-family: Manrope_body;
    src: url(fonts/Manrope-Medium.woff);
}

@font-face {
    font-family: Manrope_header;
    src: url(fonts/Manrope-ExtraBold.woff);
}

:root {
    --main_color: #9b8251;
    --sec_color: #b83838;
    --text_color: #dadada;
    --background_color: #5a5a5a;
}

* {
    color: var(--text_color);
    margin: 0;
    padding: 0;
    font-family: Manrope_body;
    letter-spacing: 1px;
}

body {
    background-color: var(--background_color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cls-1 {
    font-size: 120px;
    fill: var(--main_color);
    font-family: Manrope_header;
    font-weight: 800;
}

.cls-2 {
    fill: var(--sec_color);
    font-family: Manrope_header;
}

nav {
    background-color: var(--main_color);
}

nav>ul,
footer>ul {
    list-style-type: none;
    overflow: hidden;
}

nav>ul>li,
footer>ul>li {
    width: 150px;
    float: left;
    display: block;
}

a {
    font-family: Manrope_header;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--text_color);
}

a:hover {
    background-color: var(--sec_color);
}

main {
    flex-grow: 1;
    margin: auto;
}

article {
    display: flex;
}

section {
    padding: 20px;
    width: 400px;
}

section>ul {
    list-style-type: none;
}

section li {
    padding: 3px;
}

section input {
    margin-right: 5px;
}

section input:checked {
    text-decoration: line-through;
}

section input[type=checkbox]:checked+label {
    text-decoration: line-through;
}

footer {
    background: var(--main_color);
}