@font-face {
    font-family: Manrope_body;
    src: url(fonts/Manrope-Medium.woff);
}

@font-face {
    font-family: Manrope_header;
    src: url(fonts/Manrope-ExtraBold.woff);
}

:root {
    --main_color: #9b8251;
    --sec_color: #b83838;
    --text_color: #dadada;
    --background_color: #5a5a5a;
}

body {
    background-color: var(--background_color);
    font-family: Manrope_body;
    margin: 0;
    color: var(--text_color);
}

.cls-1 {
    font-size: 120px;
    fill: var(--main_color);
    font-family: Manrope_header;
    font-weight: 800;
}

.cls-2 {
    fill: var(--sec_color);
}

nav {
    background-color: var(--main_color);
}

ul {
    list-style-type: none;
    overflow: hidden;
    width: 1200px;
    margin: auto;
}

ul>li {
    width: 150px;
    float: left;
}

a {
    font-family: Manrope_header;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--text_color);
}

a:hover {
    background-color: var(--sec_color);
}

main {
    display: flex;
    width: 1200px;
    margin: auto;
}

section {
    padding: 10px;
}

footer {
    background: var(--main_color);
}